<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container-fluid">
    <div class="mx-auto mt-2">
      <p class="navbar-brand text-uppercase font-weight-bold mb-0 h1 color">Animo que sí se puede !!! </p>
    </div>
  </div>
</nav>
<br>
<div id="carouselExample" class="carousel slide container" data-bs-ride="carousel" data-bs-interval="2000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/imagenes/SePuede.jpeg" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/imagenes/SePudoBurro.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/imagenes/R.jfif" class="d-block w-100 img-fluid" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<app-contador></app-contador>

